* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: teal;
}

.grid {
    height: 800px;
    width: 800px;
    border: 1px solid palevioletred;

    color: black;

    display: flex;
    flex-wrap: wrap;
}

.square {
    height: calc(100% / 10);
    width: calc(100% / 10);
    border: 1px solid palevioletred;

    background-color: rgb(173, 45, 87);
} 

button {
    height: 100%;
}

.clicked {
    background-color: rgb(92, 125, 200);
    color: black;
}